h3{
  text-align: center;
}
form{
position: absolute;
right: 50px;
}
.wind{
  margin-top: 40px;
  width: 200px;
  height: 300px;
 display: inline-table;
}
ul {
  list-style-type: none;
  margin: 6;
  padding: 5;
}
li{
  margin: 6px;
  padding: 5;
}
#weatherblock{
width: 50px;
height: auto;
margin: 0;
}
#weatherlegend{
  position: absolute;
  
}
.date{
  color: blue;
}
img{
  height: 50px;
  width: auto;
}
