body{
  font-size: 14px;
 
  margin-left: 50px;
  
}
h3{
  font-size: 17;
  text-align: center;
}

form{
position: absolute;
right: 1%;
width: 240px;
margin-top: 5%;
margin-bottom: 0;
margin-left:0;
padding: 0;


}
.sunTime{
  position: absolute;
  right: 15px;
  margin-bottom: 50px;

  height: 50px;
}
.sunTime{
  font-size: 10px;
  right: 12%;
  margin-top: 8%;


}
.city{
 
  font-size: 27px;
  margin-top: 12%;
  width: 30%;
  margin-bottom: 5px;

}

.seta{
  position: absolute;
  margin:0;

}

.wind{
  margin-top: 15px;
  margin-bottom: 10px;
  width: 240px;
  height: 30px;
 display: inline-table;
}
.weatherblock{
  margin-top: 5px;
}
.weatherlegend {
  
  position: relative;

  left: 50px;
  bottom:10px;
  margin: 0;

}
.tempblock{
padding-top: 10px;
padding-bottom: 10px;

}
.windSpeed{
  padding: 5px;
}


ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
li{
  margin-left: 0;
}

#weatherblock{
width: 50px;
height: auto;
margin: 0;
}
.units{
  margin-top: 9px;

}

.date{
  color: blue;
}
img{
  height: 50px;
  width: auto;
}
#logo{
  padding: 0;
  margin-top: 19%;
  margin-left: 50%;
}
footer{
  font-weight: bolder;
  width: 250px;
}

footer p{
 position: absolute;
 left: 1190px;
 bottom: 10px;
}